[package]
name = "fsrs"
version = "0.6.4"
authors = ["Open Spaced Repetition"]
categories = ["algorithms", "science"]
edition = "2021"
homepage = "https://github.com/open-spaced-repetition"
keywords = ["spaced-repetition", "algorithm", "fsrs", "machine-learning"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/open-spaced-repetition/fsrs-rs"
rust-version = "1.78.0"
description = "FSRS for Rust, including Optimizer and Scheduler"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.burn]
version = "0.14.0"
git = "https://github.com/ahmedyarub/burn.git"
rev = "cc84ddbb75f68afa502dbd6ee72e944d0c8d11ce"
default-features = false
features = ["std", "train", "ndarray"]

[dev-dependencies.burn]
version = "0.14.0"
git = "https://github.com/ahmedyarub/burn.git"
rev = "cc84ddbb75f68afa502dbd6ee72e944d0c8d11ce"
default-features = false
features = ["std", "train", "ndarray", "sqlite-bundled"]

[dependencies]
itertools = "0.13.0"
log = "0.4.21"
ndarray = "0.15.6"
ndarray-rand = "0.14.0"
rand = "0.8.5"
rayon = "1.10.0"
serde = "1.0.201"
snafu = "0.8.2"
strum = { version = "0.26.2", features = ["derive"] }

[dev-dependencies]
chrono = { version = "0.4.38", default-features = false, features = ["std", "clock"] }
chrono-tz = "0.9.0"
criterion = { version = "0.5.1" }
csv = "1.3.0"
fern = "0.6.0"
rusqlite = { version = "0.31.0" }

[[bench]]
name = "benchmark"
harness = false
